@model DigiPax.Models.ViewModels.FavoriteListViewModel
@using Microsoft.AspNetCore.Identity

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

<h3>Collections</h3>


<table class="table">
    <thead>
    </thead>
    <tbody>
    </tbody>
</table>

<h3>My Favorites</h3>


<table class="table">
    <thead>

    </thead>
    <tbody>

        <tr>
            <th>
                Sample Name
            </th>

        </tr>
        @foreach (var item in Model.Favorites)
        {
            @if (UserManager.GetUserAsync(User).Result.Id == item.ApplicationUserId)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sample.SampleName)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info-circle"></i></a> |
                        <a asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-1x fa-trash-alt"></i></a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<h3>My Samples</h3>


<table class="table">
    <thead>

    </thead>
    <tbody>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sample.SampleName)
            </th>

        </tr>
        @foreach (var item in Model.Samples)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SampleName)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>

        }
    </tbody>
</table>
