@model IEnumerable<DigiPax.Models.Sample>

@{
    ViewData["Title"] = "Sample Collection";
}

<h3>Favorites</h3>


<table class="table">
    <thead>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SampleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SampleType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Key)
            </th>

        </tr>

    </thead>
    <tbody>
    </tbody>
</table>

<h3>My Samples</h3>


<table class="table">
    <thead>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SampleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SampleType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Key)
            </th>

        </tr>

    </thead>
    <tbody>
    </tbody>
</table>