@model DigiPax.Models.Sample


@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Favorite</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SampleName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SampleName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SampleType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SampleType.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Genre.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MusicKey)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MusicKey.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BPM)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BPM)
        </dd>
    </dl>
</div>
<div>
    <hr />
    <a asp-action="Index">Back to Pool</a>
    <br />
    <br />
    <a asp-controller="Favorites" asp-action="Index"><i class="fa fa-2x fa-fast-backward"></i></a>
</div>
