@model DigiPax.Models.Sample

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sample</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SampleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SampleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SamplePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SamplePath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SampleTypeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SampleTypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genre.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MusicKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MusicKey.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
