@model IEnumerable<DigiPax.Models.Sample>

@{
    ViewData["Title"] = "Sample Pool";
}

<h1>Sample Pool</h1>

<p>
    <a asp-action="Create">Add a Sample</a>
</p>

<table class="table">
    <thead>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SampleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SampleTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Key)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SampleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SampleTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Key.Id)
            </td>
            <td>
                <a asp-action="Create" asp-route-id="@item.Id">Favorite</a> 
            </td>
        </tr>
}
    </tbody>
</table>
