@inject UserManager<ApplicationUser> UserManager

@model X.PagedList.IPagedList<DigiPax.Models.Sample>
@using X.PagedList.Mvc.Core;
@using Microsoft.AspNetCore.Identity


<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewData["Title"] = "Sample Pool";
}
<div class="ml-auto">
    <p>
        <a asp-action="Create"><i class="fab fa-4x text-right text-warning d-inline-block float-right fa-creative-commons-sampling-plus"></i></a>
    </p>
    <h1 class="text-center">Sample Pool</h1>

    @using (Html.BeginForm("Index", "Sample", FormMethod.Get))
    {
        <p class="text-center">
            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
            <input type="submit" value="Search" />
        </p>
    }
</div>
<table class="table-striped table-hover table-responsive-xl table-secondary m-auto w-auto">
    <thead class="thead-dark w-auto">

        <tr class="">
            <th class="w-auto pr-5">
                @Html.ActionLink("SAMPLE", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th class="w-auto pr-5">
                @Html.ActionLink("AUTHOR", "Index", new { sortOrder = ViewBag.AuthorSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th class="w-auto pr-5">
                @Html.ActionLink("TYPE", "Index", new { sortOrder = ViewBag.TypeSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th class="w-auto pr-5">
                @Html.ActionLink("GENRE", "Index", new { sortOrder = ViewBag.GenreSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th class="w-auto pr-5">
                @Html.ActionLink("KEY", "Index", new { sortOrder = ViewBag.KeySortParm, currentFilter = ViewBag.CurrentFilter })
            </th>

    </thead>
    <tbody class="pr-5">
        @foreach (var item in Model)
        {
            <tr>
                <td class="pr-5">
                    @Html.DisplayFor(modelItem => item.SampleName)
                </td>
                <td class="pr-5">
                    @Html.DisplayFor(modelItem => item.ApplicationUser.UserName)
                </td>
                <td class="pr-5">
                    @Html.DisplayFor(modelItem => item.SampleType.Name)
                </td>
                <td class="pr-5">
                    @Html.DisplayFor(modelItem => item.Genre.Name)
                </td>
                <td class="pr-5">
                    @Html.DisplayFor(modelItem => item.MusicKey.Name)
                </td>
                <td>
                    <audio controls class="pr-5">
                        <source src="~/@item.SamplePath" type="audio/mpeg">

                    </audio>


                    <a asp-action="AddToFavorite" asp-route-applicationUserId="@item.ApplicationUserId" asp-route-sampleId="@item.Id"><i class="far fa-1x fa-star text-warning pr-2"></i></a>
                    @if (UserManager.GetUserAsync(User).Result.Id == item.ApplicationUserId)
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-1x fa-trash-alt text-danger"></i></a>
                    }

                </td>
            </tr>
        }

    </tbody>
</table>
<br />
<div class="d-flex justify-content-center">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            @for (var i = 0; i < Model.PageCount; i++)
            {
                <li class="page-item pl-2"><a class="page-link" href="?page=@(i+1)">@(i + 1)</a></li>
            }
        </ul>
    </nav>
</div>
